;; shadow-cljs configuration
{:deps     {:aliases [:shadow]}
 :dev-http {9500 ["resources/public" "src" "test" "out/test"]}
 :nrepl    {:port       9000
            :middleware [refactor-nrepl.middleware/wrap-refactor
                         cider.nrepl/cider-middleware
                         cider.piggieback/wrap-cljs-repl]}
 :builds
 {:app
  {:target        :browser
   :module-loader true
   :output-dir    "resources/public/js/compiled/"
   :asset-path    "/js/compiled"
   :modules       {:base {:entries []}
                   :app  {:init-fn    libscryer-clj.scryer/init
                          :depends-on #{:base}}}
   :dev           {:compiler-options {:closure-defines {GOOG.debug true}}}}
  :test {:target   :browser-test
         :test-dir "resources/test"
         :devtools {:http-port 9001
                    :http-root "resources/test"
                    :source-paths ["resources/public" "src" "test"]
                    }
         
         }}}
